*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
  min-height: 100vh;
  background-image: url(../img/sign_out.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign_out{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #D803FE;
    opacity: 0.6;
}

.sign_out > p{
    font-size: 25px;
    color: white;
}

.answer{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.answer > a{
    font-size: 25px;
    color: white;
}
