*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgrey;
}

header{
    position: fixed;
    width: 100%;
    padding:10px;
    min-height: 75px;
    border: 1px solid transparent;
    background: black;
    z-index: 9;
    opacity: 0.8;
}

.container1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sight{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon{
  font-size: 3em;
}

.logo{
  position: relative;
  color: #ED1E24;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu > ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu >ul >li{
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
}

.menu > ul > li > a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.menu>ul>li>a:hover{
  border-bottom: 3px solid #ED1E24;
  color: #ED1E24;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.combined{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combined > input{
    position: relative;
    border: 3px solid grey;
    font-size: 20px;
    width: 500px;
    height: 80px;
    border-radius: 50px;
    padding: 0 75px 0 10px;
    outline: none;
}

.combined > button{
    position: absolute;
    margin-left: 410px;
    font-size: 40px;
    color: grey;
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.plst_download{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plst_download > form > button{
    margin-top: 90px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    border: none;
    font-family: 'Syne Mono', monospace;
    font-size: 40px;
    cursor: pointer;
    outline: none;
}

.plist{
    margin-top: 85px;
    font-size: 50px;
    color: white;
    font-family: 'Syne Mono', monospace;
}

.plist:before{
    content: '-';
    color: white;
}

.plist:after{
    content: '-';
    color: white;
}

.contain{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 20px 0 20px;
    overflow: scroll;
}

.contain > iframe{
    margin-top: 10px;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

