*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-image: url(../img/search_result.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  width: 100%;
  position: absolute;
  z-index: 9;
  padding: 10px;
  min-height: 75px;
  border: 1px solid transparent;
  background: black;
  opacity: 0.5;
}

.container1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sight{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon{
  font-size: 3em;
}

.logo{
  position: relative;
  color: #ED1E24;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu > ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu >ul >li{
  list-style: none;
  margin-left: 50px;
  font-size: 20px;
}

.menu > ul > li > a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.menu>ul>li>a:hover{
  border-bottom: 3px solid #ED1E24;
  color: #ED1E24;
}

.combined{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combined > input {
    position: relative;
    border: none;
    font-size: 20px;
    width: 500px;
    height: 80px;
    border-radius: 50px;
    padding: 10px 80px 10px 10px;
    outline: none;
}

.combined > button {
    position: absolute;
    margin-left: 410px;
    font-size: 40px;
    color: #262425;
    background: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.result{
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.result > form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.result > form > .video_result{
    margin-top: 30px;
    border: none;
    opacity: 0.6;
}

.result > form > .video_result:hover{
    opacity: 1;
}

.video_result{
    width: 350px;
    background: inherit;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding: 10px 0 0 0;
}

.sect{
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.pagination-buttons{
    display: flex;
    align-items: center;
    gap: 4px;
}

.page-btn{
    background: #ddd;
    color: #2c303a;
    height: 40px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.page-btn:not([class$="-page"]){
    width: 50px;
}

.page-btn[class$= "-page"]{
    background: #ccc;
    font-size: 0.6em;
    font-weight: bold;
}

.page-btn.active{
    background: #717798;
    color: #fff;
}

.page-btn[disabled]{
    opacity: 0.3;
}