*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    min-height: 100vh;
    background: black;
    overflow: hidden;
}

header{
  position: relative;
  padding:10px;
  min-height: 75px;
  border: 1px solid transparent;
  border-radius: 0px;
  border: none;
  background: black;
  box-shadow: 0 0 50px #0079AE,
                inset 0 0 50px #0079AE;
  opacity: 0.5;
}

.container1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sight{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon{
  font-size: 3em;
}

.logo{
  position: relative;
  color: #ED1E24;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu > ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu >ul >li{
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
}

.menu > ul > li > a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.menu>ul>li>a:hover{
  border-bottom: 3px solid #ED1E24;
  color: #ED1E24;
}

section{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    position: relative;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px #0079AE,
                 0 0 20px #0079AE,
                 0 0 40px #0079AE,
                 0 0 60px #0079AE,
                 0 0 80px #0079AE;
}

.lightbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    border-radius: 10px;
    background: white;
    z-index: 2;
    box-shadow: 0 0 10px #0079AE,
                0 0 20px #0079AE,
                0 0 40px #0079AE,
                0 0 60px #0079AE,
                0 0 80px #0079AE;
    animation: animatelightbar 5s linear infinite;
}

@keyframes animatelightbar {
    0%,5%{
        transform: scaleY(0) translateX(0);
    }
    10%{
        transform: scaleY(1) translateX(0);
    }
    90%{
        transform: scaleY(1) translateX(calc(600px - 10px));
    }
    95%,100%{
        transform: scaleY(0) translateX(calc(600px - 10px));
    }
}

.topLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: animatetopLayer 10s linear infinite;
}

@keyframes animatetopLayer {
    0%,2.5%{
        transform: translateX(0);
    }
    5%{
        transform: translateX(0);
    }
    45%{
        transform: translateX(100%);
    }
    47.5%,50%{
        transform: translateX(100%);
    }
    50.001%,52.5%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-100%);
    }
    95%{
        transform: translateX(0%);
    }
    97.5%,100%{
        transform: translateX(0%);
    }
}


