*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Akaya Telivigala', cursive;
}

body{
	background-image: url(../img/support.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
}

a{
  text-decoration: none;
  cursor: pointer;
}

header{
  position: relative;
  padding:10px;
  min-height: 75px;
  border: 1px solid transparent;
  border-radius: 0px;
  background: black;
  opacity: 0.3;
}

.container1{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;s
}

.left-sight{
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon{
  font-size: 3em;
}

.logo{
  position: relative;
  color: #ED1E24;
}

.menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu > ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu >ul >li{
  list-style: none;
  margin-left: 50px;
  font-size: 20px;
}

.menu > ul > li > a{
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.menu>ul>li>a:hover{
  border-bottom: 3px solid #ED1E24;
  color: #ED1E24;
}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px 0;
}

.container > .box{
	position: relative;
	width: 320px;
	height: 400px;
	color: white;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 30px;
	transition: 0.5s;
	opacity: 0.8;
}

.container > .box:hover{
	transform: translateY(-20px);
}

.container > .box::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ffbc00, #ff0058);
}

.container > .box::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #ffbc00, #ff0058);
	filter: blur(20px);
}

.container > .box:nth-child(2)::before,
.container > .box:nth-child(2)::after{
	background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.container > .box:nth-child(3)::before,
.container > .box:nth-child(3)::after{
	background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.container > .box > span{
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2,
}

.container > .box > span::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	pointer-events: none;
}

.container > .box > .content{
	position: relative;
	z-index: 10;
	padding: 20px 40px;
}

.container > .box > .content > h2{
	font-size: 2em;
	color: white;
	margin-bottom: 10px;
}

.container > .box > .content > p{
	font-size: 1.1em;
	color: white;
	margin-bottom: 10px;
	line-height: 1.4em;
}