{% extends 'youtube_app/base_navbar.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <title>History</title>
</head>
	<div class="container">
      	{% for url in page_obj %}
        <iframe class="iframe-class" src="{{ url }}"></iframe>
        {% endfor %}
    </div>
	<form method="POST">
		{% csrf_token %}
		<div class="clear_history">
			<button type="submit">Clear History</button>
		</div>
	</form>
		<div class="pages">
			{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">
					<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
				</a>
			{% endif %}
			<p>
			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			</p>
			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">
					<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
				</a>
			{% endif %}
	</div>
	<div class="about_">
		<p class="about">EXECUTION TIME {% now "SHORT_DATETIME_FORMAT" %}</p>
	</div>
{% endblock content %}