{% extends 'youtube_app/base_navbar.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/playlist_history.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
	<title>Playlist</title>
</head>
<body>
<!--   <section>-->
<!--        <div class="content">-->
<!--            {% for video in videos %}-->
<!--            <ul>-->
<!--                <li>-->
<!--                    {% csrf_token %}-->
<!--                    {{ video }}-->
<!--                </li>-->
<!--            </ul>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </section>-->

<!--   {% for i in titles %}-->

<!--        {{ title }}-->
<!--    {% endfor %}-->
<!--<div class="pages">-->
<!--			{% if page_obj.has_previous %}-->
<!--				<a href="?page={{ page_obj.previous_page_number }}">-->
<!--					<i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>-->
<!--				</a>-->
<!--			{% endif %}-->
<!--			<p>-->
<!--			Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}-->
<!--			</p>-->
<!--			{% if page_obj.has_next %}-->
<!--				<a href="?page={{ page_obj.next_page_number }}">-->
<!--					<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>-->
<!--				</a>-->
<!--			{% endif %}-->
<!--</div>-->
</body>
</html>
{% endblock %}