{% extends 'youtube_app/base_navbar.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/playlist_download.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
	<title>Home</title>
</head>
<body>
	<section>
		<div class="plst_download">
			<form method="POST" action="{% url 'playlist_mp4' %}">
				{% csrf_token %}
				<button onclick="myFunction(); setTimeout(fn, 100);" class="btn btn-primary btn-lg btn-block" type="submit">
					Download Video
				</button>
			</form>
			<center><p class="plist">Playlist</p></center>
			<form action="#" method="GET">
				{% csrf_token %}
				<button>Download Audio</button>
			</form>
		</div>
		<form action="{% url 'search_results' %}" method="POST">
		<div class="combined">
				{% csrf_token %}
				<input type="text" name="url" placeholder="Type Video Name or URL"><br>
				<button type="submit" name="search"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>
		</form>
		<div class="contain">
			<div id="progressbar"></div>
			<div id="scrollPath"></div>
			{% for url in embedded_urls %}
				<iframe src="{{url}}" frameborder="0"></iframe>
			{% endfor %}
		</div>
	</section>
</body>
<script src="{% static 'js/playlist.js' %}"></script>
{% endblock %}