{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,
            600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/success_massage.css' %}">
    <title>Downloaded</title>
</head>
<body>
    <header>
		<div class="container1">
			<div class="left-sight">
				<a href="https://www.youtube.com/" class="icon" target="_blank">
					<i class="fa fa-youtube-play logo" aria-hidden="true"></i>
				</a>
        		<div class="menu">
					<ul>
						<li class="active">
							<a href="{% url 'home_page' %}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Home
							</a>
						</li>
						<li class="active">
							<a href="{% url 'support_page' %}">
								<i class="fa fa-life-ring" aria-hidden="true"></i>
								Support
							</a>
						</li>
					</ul>
				</div>
    		</div>
			<div class="menu">
				<ul>
					{% if not request.user.is_authenticated %}
					<li>
						<a href="{% url 'register_page' %}">
							<i class="fa fa-user-o" aria-hidden="true"></i>
							Sign Up
						</a>
					</li>
					<li>
						<a href="{% url 'login_page' %}">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
							Sign In
						</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'profile_page' %}">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							{{ request.user.username }}
						</a>
					</li>
					<li>
						<a href="{% url 'logout_page' %}">
							<i class="fa fa-sign-out" aria-hidden="true"></i>
							 Sign Out
						</a>
				   </li>
					{% endif %}
				</ul>
			</div>
  		</div>
	</header>
    <section>
        <div class="box">
            <div class="lightbar"></div>
            <div class="topLayer"></div>
            <h2>Downloaded!</h2>
        </div>
    </section>
</body>
</html>