{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/support.css' %}">
	<title>Support Page</title>
</head>
<body>
<header>
		<div class="container1">
			<div class="left-sight">
				<a href="https://www.youtube.com/" class="icon" target="_blank">
					<i class="fa fa-youtube-play logo" aria-hidden="true"></i>
				</a>
        		<div class="menu">
					<ul>
						<li class="active">
							<a href="{% url 'home_page' %}">
								<i class="fa fa-home" aria-hidden="true"></i>
								Home
							</a>
						</li>
						<li class="active">
							<a href="{% url 'support_page' %}">
								<i class="fa fa-life-ring" aria-hidden="true"></i>
								Support
							</a>
						</li>
					</ul>
				</div>
    		</div>
			<div class="menu">
				<ul>
					{% if not request.user.is_authenticated %}
					<li>
						<a href="{% url 'register_page' %}">
							<i class="fa fa-user-o" aria-hidden="true"></i>
							Sign Up
						</a>
					</li>
					<li>
						<a href="{% url 'login_page' %}">
							<i class="fa fa-sign-in" aria-hidden="true"></i>
							Sign In
						</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'profile_page' %}">
							<i class="fa fa-user-circle-o" aria-hidden="true"></i>
							{{ request.user.username }}
						</a>
					</li>
					<li>
						<a href="{% url 'logout_page' %}">
							<i class="fa fa-sign-out" aria-hidden="true"></i>
							 Sign Out
						</a>
				   </li>
					{% endif %}
				</ul>
			</div>
  		</div>
	</header>
	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
				<h2>Select Video</h2>
				<p>Inside the software, type a keyword to search for a video. Alternatively, you can copy the Video or Playlist URL. Web-site automatically recognizes any valid URLs and will suggest initiating a download.</p>
			</div>
		</div>
		<div class="box">
			<span></span>
			<div class="content">
				<h2>Select Format</h2>
				<p>Videos and Playlists are available in both MP3/MP4 formats. Web-site automatically chooses the highest resolution for you comfort. So hit the button and start enjoying!</p>
			</div>
		</div>
		<div class="box">
			<span></span>
			<div class="content">
				<h2>Download</h2>
				<p>Once you hit the download button, web-site will start downloading the video. Downloaded videos you can find in the relevant folders Songs/Videos/Playlists.</p>
			</div>
		</div>
	</div>
</body>
</html>